.SectionFirst {
    max-width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../../assets/images/stock-photo-winters-karlskrona-november-2015-129077569.png');
    background-color:rgba(0, 0, 0, 0.31);

    position:relative
}

.Text {
    position:absolute;
    bottom:0;
    left:5rem
}

.Title {
    font-size:3rem;
    width:677px;
    font-weight: bold;
    text-transform:uppercase;
    color:#ffff;
    text-shadow: 0px 3px 6px #000000;
}

.TitleButton {
    color:#F5F5F5;
    background:transparent;
    outline: none;
    border: 3px solid #F5F5F5;
    font-size: 2rem;
}

.SectionSecond{
    margin:2rem;
}

.ImageList {
    
   display:flex;
   justify-content:center;
}

.ImageList li {
    display:flex;
    list-style-type:none;
margin-left:3rem;    

 }

 .WorldMap {
    background-image: url(/static/media/worldmap.db37aa0a.png);
    background-size: cover;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    position: absolute;
    left: -280px;;
    opacity:0.46;

 }








.SecondSectionButton {
    display: flex;
    background: transparent;
    outline: none;
    border: 5px solid #2680EB;
    color: #2680EB;
    font: Medium 37px/44px Roboto;
}

.SecondSectionButtonWrapper {
    display: flex;

    margin: 2rem auto;
    justify-content: center;
}

.FT2Wrapper {
    background-color:#E4E4E4;
    width:100%;
    position: relative;
}

.FT2Image{
    width: 60%;
    margin: auto;
    padding-top: 0.5rem;
    display: block;
}

.Background {
    width: 60%;
    height: 8rem;
    position: absolute;
    bottom: 9.5rem;
    left: 16.9rem;
    background: rgba(255, 255, 255,0.4);
    margin: auto;
}

.FT2Images {
    width:80%;
    display:flex;
    justify-content: space-around;
    margin: -5.6rem auto
}

.FT2SingleImage {
    width:13rem;
    height:15rem;
    z-index: 10;
}

.Footer {
    width:100%;
    height:15rem;
background: #000;
position: relative;
    margin-top: 5.5rem;

}

.FooterImage {
    height: 12rem;
    width: 80%;
    bottom: -2.95rem;
    position: relative;
    display: block;
    margin: auto;
}

.FooterContent {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position:absolute;
    color:#fff;
    top:2.5rem;
}

.FooterLogo {
    width:7rem;
}


.FooterSubscribe {
    text-align:center;
}

.FooterSubscribeButton {
    background: transparent;
    color:#fff;
    outline:none;
    border:1px solid #fff;
}