.OPRPlatform {
    width:80%;
    height:30rem;
margin:auto;
display:flex;
align-items:center;
position:relative;
}

.OPRPlatformImage {
    width:inherit;
    height:inherit;
    background-size:cover;
    filter: blur(9px);
    background-color:rgba(33, 33, 33, 0.3);
}

.ContentWrapper {

}

.Text {
    position: absolute;
    top: 7.5rem;
    left: 20rem;
    width: 10rem;
    color: #fff;


} 

.TextHeader {
    font-weight: bolder; 
    font-size:40px;
    font-family: Franklin Gothic;
    width:150px;
    text-align:center;
}

.TextParagraph {

    width: 250px;
    text-align: center;
    margin: 0;
}

.Images {
   background-image:url('../../assets/images/fbg.png');
   background-size:cover;
   border: 1px solid #707070;
   background-color: rgba(9,8,8,0.28); 
   position:absolute;
   top: -2rem;
   right: 3.5rem;
   width: 25rem;
   height: 32rem;
}

.LogoWrapper {
   /* position:relative; */
}

.LogoBg {
    width: 10rem;
    position: absolute;
    top: 7.5rem;
    left: 0;
    z-index: 10;
}
.Logo {
    width: 10rem;
    position: absolute;
    top: 7.5rem;
    left: 0;
    z-index: 11;
}

.Button {
    background: #2684AD 0% 0% no-repeat padding-box;
border-radius: 38px;

font-weight: bold;
font-size: 24px;
letter-spacing: 0px;
color: #FFFFFF;
outline:none;
border:none;
padding: 5px 70px;
    margin-top: 1.5rem;
    width:15rem;
}