.Header {
  position: absolute;
  color: #054d55;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.Play {
  transform: rotate(90deg);
  margin-top: -5px;
  font-size: 16px;
}

.Navbartext {
  margin-left: 1rem;
  top: -2px;
  font-family: Roboto;
  font-weight: bold;
  position: relative;
  color: #054d55 !important;
}

.Navbartext:hover {
  text-decoration: none !important;
}

.Navbartext::before {
  content: "";
  width: 28px;
  background-color: #054d55;
  height: 2px;
  /* z-index: 1; */
  position: absolute;
  bottom: 0px;
}

.Social-Icons {
  color: #024345;
  font-size: 12px;
  margin: 5px;
}

.Drop {
  width: 100%;
  transform: translate(-50%);
  position: absolute;
  left: 50%;
  top: -3.3rem;
  opacity: 0.86;
  z-index: -1;
}

.Logo {
  width: 6rem;
  position: absolute;
  left: 38.2rem;
  top: -1.5rem;
  cursor: pointer;
}
