.Search {
position:relative;
margin-right:2rem;
}

.SearchInput {
    width: 100%;
    background-color: #76B1DA;
    font-size: 14px;
    color: #575756;;
    border-radius: 18px;
    border:none
}

.SearchIcon {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #707070;
    font-size: 14px;
}